<dom-module id="edit-view">
    <template>
        <style include="shared-styles">
            .wiki-page .card-content {
                width: 800px;
            }

            @media screen and (max-width: 1100px) {
                .wiki-page .card-content {
                    width: 700px;
                }
            }

            @media screen and (max-width: 1000px) {
                .wiki-page .card-content {
                    width: auto;
                }
            }

            .hidden {
                display: none;
            }

            paper-dropdown-menu {
                width: 100%;
            }
        </style>

        <paper-card class="wiki-page" heading="" elevation="0">
            <div class="card-content">
                <article class="markdown-body">
                    <iron-form id="form">
                        <form method="post" action="http://10.0.0.47:8081/">
                            <paper-button class="indigo" on-click="_submitForm">Speichern</paper-button>
                            
                            <input type="hidden" name="guid" value="{{data.guid}}">
                            <paper-input required name="name" label="Name" always-float-label value="{{data.name}}"></paper-input>
                            <paper-textarea required name="text" label="Text" always-float-label value="{{data.text}}"></paper-textarea>

                            <paper-dropdown-menu label="Parent" selected-item="{{selectedItem}}">
                                <paper-listbox id="parentSelection" class="dropdown-content">
                                    <paper-item value=""></paper-item>
                                    <template is="dom-repeat" items="{{items}}">
                                        <paper-item value="{{item.guid}}">{{item.name}}</paper-item>
                                    </template>
                                </paper-listbox>
                            </paper-dropdown-menu>
                            <input is="iron-input" name="parent_guid" type="hidden" value$="[[selectedItem.value]]">

                            <paper-button class="indigo" on-click="_submitForm">Speichern</paper-button>
                        </form>
                    </iron-form>
                </article>
            </div>
        </paper-card>

        <global-config id="config"></global-config>
    </template>
    <script>
        class EditView extends Polymer.Element {
            static get is() {
                return 'edit-view';
            }

            static get config() {
                return {
                    properties: {
                        guid: {
                            type: Object,
                            reflectToAttribute: true,
                            observer: '_guidChanged'
                        }
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();

                this.items = [];
                this.data = {
                    guid: null,
                    name: "",
                    text: "",
                    lastupdate: "",
                    html: ""
                };
            }

            _submitForm() {
                const params = this.$.form.serializeForm();
                if(params.text == "" || params.name == "") {
                    alert("Bitte alle Felder ausfüllen!");
                    return;
                }

                const bodyData = Object.keys(params).map((key) => {
                    return encodeURIComponent(key) + '=' + encodeURIComponent(params[key]);
                }).join('&');

                var editArticle = params.guid ? '/' + params.guid : "";
                fetch(this.$.config.apiurl + '/articles' + editArticle, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: bodyData
                }).then(function(response) {
                    return response.json();
                }).then((json) => {
                    if(json.guid) {
                        location.href = "/p/" + json.guid;
                        return;
                    }

                    if(json.success) {
                        location.href = "/p/" + this.data.guid;
                        return;
                    }

                    alert("ERROR");
                });
            }

            _guidChanged() {
		if(!this.guid || this.guid.prefix == "/new" || this.guid.prefix == "/edit") {
                	this._loadData();
		}
            }

            _loadData() {
                fetch(this.$.config.apiurl + '/navigation')
                .then(function(response) {
                    return response.json();
                })
                .then((json) => {
                    this.items = this._setItems(json, [], "");
		    if(!this.guid.path) {
                        return;
                    }

                    fetch(this.$.config.apiurl + '/articles' + this.guid.path)
                    .then(function(response) {
                        return response.json();
                    })
                    .then((json) => {
                        this.data = json;
			
			let parent = false;
                        for(let i = 0; i < this.items.length; i++) {
                            if(this.items[i].guid == this.data.parent) {
				parent = true;
                                this.$.parentSelection.select(i + 1);
                            }
                        }
                          
                        if(!parent) {
                             this.$.parentSelection.select(0);
                        }
                    });
                });
            }

            _setItems(items, flatten, prefix) {
                for(let i = 0; i < items.length; i++) {
                    if("/" + items[i].guid == this.guid.path) {
                        continue;
                    }

                    let name = items[i].name;
                    if(prefix != "") {
                        name = prefix + " " + items[i].name;
                    }

                    items[i].name = name;
                    flatten.push(items[i]);

                    if(items[i].childs.length) {
                        flatten = this._setItems(items[i].childs, flatten, prefix + "- ");
                    }

                }
                return flatten;
            }
        }


        customElements.define(EditView.is, EditView);
    </script>
</dom-module>

