<dom-module id="index-view">
    <template>
        <style include="shared-styles">

            .wiki-page--data .card-actions {
                margin-bottom: 5px;
                font-size: 14px;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            .wiki-page--data .card-actions div {
                margin-left: auto;
            }

            @media screen and (max-width: 500px) {
                .wiki-page--data .card-actions {
                    flex-flow: column-reverse nowrap;
                    align-items: flex-start;
                }
            }

            .wiki-page .card-content {
                width: 800px;
            }



            @media screen and (max-width: 1100px) {
                .wiki-page .card-content {
                    width: 700px;
                }
            }

            @media screen and (max-width: 1000px) {
                .wiki-page .card-content {
                    width: auto;
                }
            }


        </style>
        <paper-card class="wiki-page" heading="" elevation="0">
            <div class="card-content">
                <article class="markdown-body">
                    <h1>CORE WIKI</h1>
                    <p>
			Simple Wiki System.
		    </p>
                </article>
            </div>
        </paper-card>
        
    </template>
    <script>
        class IndexView extends Polymer.Element {
            static get is() { return 'index-view'; }

        }

        customElements.define(IndexView.is, IndexView);
    </script>
</dom-module>

