<dom-module id="page-view">
    <template>
        <style include="shared-styles">

            .wiki-page--data .card-actions {
                margin-bottom: 5px;
                font-size: 14px;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            .wiki-page--data .card-actions div {
                margin-left: auto;
            }

            @media screen and (max-width: 500px) {
                .wiki-page--data .card-actions {
                    flex-flow: column-reverse nowrap;
                    align-items: flex-start;
                }
            }

            .wiki-page .card-content {
                width: 800px;
            }

            @media screen and (max-width: 1100px) {
                .wiki-page .card-content {
                    width: 700px;
                }
            }

            @media screen and (max-width: 1000px) {
                .wiki-page .card-content {
                    width: auto;
                }
            }

            .date {
                font-size: 13px;
                color: #ccc;
                margin-left: 10px;
            }

            a, a:visited, a:active {
                color: #000;
            }

            a:hover {
                text-decoration: none;
            }
        </style>

        <paper-card class="wiki-page--data" heading="" elevation="0">
            <div class="card-actions">
                <span>{{page.name}}  </span> <span class="date">({{page.editDate}})</span>
                <div>
		     <a target="_blank" href="/pdf/{{page.guid}}">
                        <paper-button>PDF</paper-button>
                    </a>

                    <a href="/edit/{{page.guid}}">
                        <paper-button>Edit</paper-button>
                    </a>

                    <paper-button on-click="_delete">Delete</paper-button>
                </div>
            </div>
        </paper-card>
        <paper-card class="wiki-page" heading="" elevation="0">
            <div class="card-content">
                <article class="markdown-body" id="body"></article>
            </div>
        </paper-card>

        <global-config id="config"></global-config>
    </template>
    <script>
        class PageView extends Polymer.Element {
            static get is() {
                return 'page-view';
            }

            static get config() {
                return {
                    properties: {
                        route: {
                            type: Object,
                            reflectToAttribute: true,
                            observer: '_pageChanged'
                        }
                    },
                    observers: [
                        '_pageTextChanged(page.html)'
                    ],
                }
            }

            connectedCallback() {
                super.connectedCallback();

                this.page = {
                    guid: null,
                    name: "",
                    text: "",
                    lastupdate: "",
                    editDate: "",
                    html: ""
                };
            }

            _delete() {
                let c = confirm("Wirklich löschen?");
                if(!c ||!this.route.path) {
                    return;
                }

                fetch(this.$.config.apiurl + '/articles' + this.route.path + '/delete', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(function(response) {
                    return response.json();
                }).then((json) => {
                    if(json.success) {
                        location.href = "/";
                        return;
                    }

                    alert("ERROR");
                });
            }

            _pageTextChanged(text) {
                this.$.body.innerHTML = text;
            }

            _pageChanged() {
                if(this.route.prefix != "/p") {
                    return;
                }

                this._loadPage();
            }

            _loadPage() {
                if(!this.route.path) {
                    return;
                }

                fetch(this.$.config.apiurl + '/articles' + this.route.path)
                .then(function(response) {
                    return response.json();
                })
                .then((json) => {
                    let date = new Date(json.lastupdate * 1000);
                    json.editDate = date.getFullYear() + '-' + this._pad((date.getMonth() + 1)) + '-' + this._pad(date.getDate()) + ' ' + this._pad(date.getHours()) + ':' + this._pad(date.getMinutes()) + ':' + this._pad(date.getSeconds());
                    this.page = json;
                });
            }

            _pad(number) {
                if(number < 10) {
                    number = "0" + number;
                }
                return number;
            }
        }

        customElements.define(PageView.is, PageView);
    </script>
</dom-module>

