
<dom-module id="global-config">
    <script>
        class GlobalConfig extends Polymer.Element {
            static get is() { return 'global-config'; }

            static get config() {
                return {
                    properties: {
                        apiurl: {
                            type: String,
                            reflectToAttribute: true,
                            value: 'http://192.168.0.14:81'
                        }
                    }
                }
            }
            
        }

        customElements.define(GlobalConfig.is, GlobalConfig);
    </script>
</dom-module>
