<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">


<link rel="import" href="./shared-styles.html">
<link rel="import" href="./global-config.html">
<link rel="import" href="./index-view/index-view.html">
<link rel="import" href="./nav-main/nav-main.html">

<dom-module id="my-app">
    <template>
        <style include="shared-styles">
            .page {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .content {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: stretch;
                align-items: flex-start;
            }

            paper-button {
                margin: 0;
            }

            aside {
                width: 240px;
                margin-right: 10px;
            }


            @media screen and (max-width: 1000px) {
                .content  {
                    display: block;
                    padding-left: 20px;
                    padding-right: 20px;
                }

                aside {
                    margin-bottom: 20px;
                    width: 100%;
                }
            }

            .wiki-headline {
                margin-bottom: 20px;
            }
            
            a, a:visited, a:active {
                color: #000;
            }
            
            a:hover {
                text-decoration: none;
            }
        </style>

        <app-location route="{{route}}"></app-location>
        <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

        <div class="page">
            <div class="content">
                <aside>
                    <paper-card class="wiki-headline" heading="CORE-WIKI" elevation="0">
                        <div class="card-actions">
                            <div>
                                <a href="/new">
                                    <paper-button>New Page</paper-button>
                                </a>
                            </div>
                        </div>
                    </paper-card>

                    <paper-card heading="" elevation="0">
                        <div class="card-content">
                            <nav-main></nav-main>
                        </div>
                    </paper-card>
                </aside>
                <div class="wiki-page">
                    <iron-pages selected="[[routeData.page]]" attr-for-selected="name" fallback-selection="404" role="main"> 
                        <page-view name="p" route="{{subroute}}"></page-view>
                        <edit-view name="new" route="{{subroute}}" guid=""></edit-view>
                        <edit-view name="edit" guid="{{subroute}}"></edit-view>
                        <index-view name=""></index-view>
                        <notfound-view name="404"></notfound-view>
		    </iron-pages>
                </div>
            </div>
            
       
        </div>
    </template>

    <script>
        class MyApp extends Polymer.Element {
            static get is() { return 'my-app'; }
            
 	    static get config() {
                return {
                    observers: [
                        '_routePageChanged(routeData.page)'
                    ],
                }
            }

            _routePageChanged(page) {
		let view;
		switch(page) {
		    case "p":
			view = 'page-view/page-view.html';
		    break;
		    case "new":
		    case "edit":
		        view = 'edit-view/edit-view.html';
                    break;
		    default:
                        view = "notfound-view.html";	
		}
              
                const resolvedPageUrl = this.resolveUrl(view);
                Polymer.Utils.importHref(resolvedPageUrl, null, null, true);
            }
        }

        customElements.define(MyApp.is, MyApp);
    </script>

</dom-module>
