<dom-module id="notfound-view">
    <template>
	 <style>
            .wiki-page .card-content {
                width: 800px;
            }

            @media screen and (max-width: 1100px) {
                .wiki-page .card-content {
                    width: 700px;
                }
            }

            @media screen and (max-width: 1000px) {
                .wiki-page .card-content {
                    width: auto;
                }
            }
		

	 </style>
	 <paper-card class="wiki-page" heading="" elevation="0">
            <div class="card-content">
                <article class="markdown-body">
	    	404 - NOT FOUND!!
		</article>
	    </div>
	</paper-card>
    </template>

    <script>
        class NotFoundView extends Polymer.Element {
            static get is() { return 'notfound-view'; }
        }

        customElements.define(NotFoundView.is, NotFoundView);
    </script>

</dom-module>
