
<link rel="import" href="./nav-item.html">

<dom-module id="nav-main">
    <template>
        <style include="shared-styles">
            ul {
                margin: 0;
                padding-left: 20px;
            }

        </style>

        <nav-item items="{{items}}"></nav-item>
        
        <global-config id="config"></global-config>
    </template>
    <script>
        class NavMain extends Polymer.Element {
            static get is() { return 'nav-main'; }

            connectedCallback() {
                super.connectedCallback();
                
                this.items = [];
                
                fetch(this.$.config.apiurl+'/navigation')
                .then(function(response) {
                    return response.json();
                })
                .then((json) => {
                    this.items = json;
                });
            }
        }

        customElements.define(NavMain.is, NavMain);
    </script>
</dom-module>

