<dom-module id="nav-item">
    <template>
        <style include="shared-styles">
            ul {
                margin: 0;
                padding-left: 20px;
            }
            
            .childs  {
                list-style-type: none;
            }
        </style>

        <ul>
            <template is="dom-repeat" items="{{items}}">
                <li><a href="/p/{{item.guid}}">{{item.name}}</a></li>

                <template is="dom-if" if="{{item.childs.length}}">
                    <li class="childs">
                        <nav-item items="{{item.childs}}"></nav-item>
                    </li>
                </template>
            </template>
           
        </ul>

    </template>
    <script>
        class NavItem extends Polymer.Element {
            static get is() { return 'nav-item'; }

            static get config() {
                return {
                    properties: {
                        items: {
                            type: Array,
                            reflectToAttribute: true,
                        }
                    }
                }
            }

        }

        customElements.define(NavItem.is, NavItem);
    </script>
</dom-module>

